.todo_Button{
    z-index:1;
    position: fixed;
    width: 30px;
    height: 30px;
    margin-left: calc(100% - 40px);
    border:none;
    border-radius: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(
        311.83deg, #1b3044 34.19%, rgb(44 110 104 / 84%) 77% 
    );
    color: var(--just-white);
    transition: 0.9s;
}
.todo_Button:hover{
    transform: rotate(90deg);
}
