:root{
  --firts-color: #0074c2;
  --soft-color: #a6d4ff;
  --secondary-color: #7746d8;
  --secondary-soft-color: #4099bb;
  --warm-black: #232528;
  --black: #1c1c20;
  --off-white: #e8ecf5;
  --just-white: #fff;
  --grey: #5f697e;
}
#root{
  position: relative;
  min-height: 100vh;
  height: auto;
}

html{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  color: var(--off-white);
  background: linear-gradient(134.83deg, #1b3044 54.19%, rgb(44 110 104 / 84%) 157% );
}